 <section id="show-album">
   <div class="container">
       <div class="row">
         <div class="col-sm-12">
            <div class="introduce">
              <h1><%= @photo.title %></h1>
              
              <p>Update <%= time_ago_in_words(@photo.created_at) %></p>
            </div>
            <div class="show row">
               <div class="col-sm-6">
                 <%= image_tag @photo.file_location.url, class: 'img-responsive' %>
               </div>
               <div class="col-sm-6">
                 <div class="img-description">
                  <p> <%= format(@photo.description) %></p>
                 </div>
               </div>
            </div>
         <%= link_to '回上一頁', photos_path, class: 'button' %>
         </div>

       </div>
   </div>
</section>
    

